.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 38%;
}

.friend__avatar .g-avatar {
  width: 70px;
  /* friend 클래스 - friend__avatar클래스 - g-avatar 클래스 순으로 들어가 있다.
  그래서 border-radius 35%가 적용된 것이다. */
}
.friend__avatar .m-avatar {
  width: 60%;
}
.friend .friend__column {
  display: flex;
  align-items: center;
}
.friend .friend__avatar {
  margin-right: 15px;
}
.friend__content .friend__name {
  display: block;
  margin-bottom: 7px;
}
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}
.friend__content .friend__bottom-text {
  font-size: 14px;
}
.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}
